#header
  background: url("../img/heroBackground.jpg") no-repeat
  background-size: cover
  height: 800px
  @media only screen and (max-width: 600px)
    height: 120vh
  color: white
  text-align: center
  overflow: hidden

  article
    width: 60%
    margin: 0 auto

    h1
      margin-bottom: 10px
      text-transform: uppercase
    img
      max-width: 400px
      width: 100%

.main-nav
  display: flex
  margin-top: 20px
  align-items: center

  li
    list-style: none
  li:first-child
    margin-right: auto
    font-size: 200%
  a
    color: white
    display: block
    border-radius: 4px
    padding: 10px 50px
    text-decoration: none
    font-weight: 900
    text-transform: uppercase

a.download
  background: white
  color: $ocean
  box-shadow: 0 10px 10px 10px rgba(0, 12, -10, 0.2)


#brands ul
  padding: 20px 0
  background: white
  display: grid
  align-items: center
  grid-template-columns: repeat(6,auto)
  @media only screen and (max-width: 550px)
    grid-template-columns: repeat(3,auto)
  li
    list-style: none
    padding: 10px 30px
  li img
      max-width: 100px
      width: 100%
